/* start variables */

/* colors  */
$mainGreenColor : #7fc142;
$SecondBlueColor : #2ec4b6;
$grayColor : #5d5d5d;
$whiteColor : #ffffff;
$blackColor : #000000;

/* font size  */
$headtxt36 : 36px;
$subhead18 : 18px;
$largetxt24 : 24px;
$sub15 : 15px;

/* box shadow */
%shadow {
    -webkit-box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
    -moz-box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
    -o-box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
    -ms-box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
    box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
}
/* hover transition */
%trans {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* font */
@font-face {
    font-family: "lato-reg";
    src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "lato-black";
    src: url("../fonts/Lato-Black.ttf");
}
@font-face {
    font-family: "lato-bold";
    src: url("../fonts/Lato-Bold.ttf");
}
/* device screen less than 420px */
.col-miny {
    @media (max-width: 420px) {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}
html, body {
    height: 100%;
    // overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
    outline: none;
}
.card, .card-img-top {
    word-wrap: unset;
    background-clip: unset;
    border: none;
    border-radius: 0;
}
.section-head {
    font-family: 'lato-reg';
    h2 {
        font-size: $headtxt36;
    }
    p {
        font-size: $sub15;
    }
}
.view-all {
    min-height: 45px;
    background-color: #7fc142;
    padding: 0 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    border: 1px solid $whiteColor;
    font-family: 'lato-black';
    @extend %trans;
    &:hover {
        background-color: $whiteColor;
        @extend %trans;
        border: 1px solid $mainGreenColor;
        a {
            color: $mainGreenColor;
        }
    }
    a {
        margin-top: 5px;
        color: $whiteColor;
        font-size: $subhead18;
    }
}

.explore-img {
    position: relative;
    .img-details {
        position: absolute;
        right: 65px;
        top: 75px;
        width: 80%;
        @media (min-width: 991px) and (max-width: 1199px) {
            width: 65%;
        }
        @media (max-width: 768px) {
            top: 40px;
            right: 35px;
        }
        @media (max-width: 570px) {
            top: 15px;
            right: 35px;
        }
        h2 {
            font-size: 60px;
            color: $whiteColor;
            font-family: 'lato-reg';
            @media (min-width: 991px) and (max-width: 1199px) {
                font-size: 40px;
            }
            @media (max-width: 992px) {
                font-size: 35px;
            }
            @media (max-width: 768px) {
                font-size: 18px;
            }
            
            
        }
        .view-all {
            float: right;
            a {
                @media (max-width: 768px) {
                font-size: 12px;
            }
            }
            
        }
    }
}
.sticky {
    background-color: $grayColor !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-bottom: 1px solid gray; 
    // @media (min-width: 991px) {
    //   margin: 0% 10%;
    // }
  }
 
/* start slider */
.slider-section {
    /* start nav */
    .navbar {
        .navbar-brand {
            img {
                @media (max-width: 992px) {
                    width: 60%;
                }
            }
        }
        .navbar-nav {
            
            @media (max-width: 991px) {
                background-color: $grayColor;
                text-align: right;
                flex-direction: row;
                justify-content: center;
            }
            .nav-item {
                .nav-link{
                    color: $whiteColor;
                    font-size: $subhead18;
                    font-family: 'lato-reg';
                    border-bottom: 1px solid transparent;
                    @extend %trans;
                    @media (max-width: 992px) {
                        font-size: 10px;
                    }
                    &:hover, :active {
                        border-bottom: 1px solid $mainGreenColor;
                        @extend %trans;
                    }
                }
            }
        }
    }
    /* end nav */
    .carousel {
        .carousel-inner {
            .carousel-item {
                img{
                    max-height: 654px;
                }
                .carousel-caption {
                    bottom: 25%;
                    flex-direction: column;
                    align-items: center;
                    font-family: 'lato-reg';
                    h1 {
                        font-size: 60px;
                        @media (max-width: 992px) {
                            font-size: 40px;
                        }
                        @media (max-width: 768px) {
                            font-size: 20px;
                        }
                    }
                    .caption-p {
                        font-size: 22px;
                        @media (max-width: 992px) {
                            font-size: 18px;
                        }
                        @media (max-width: 768px) {
                            font-size: 15px;
                        }
                    }
                    .search {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: baseline;
                        font-size: 14px;
                        background-color: $whiteColor;
                        border-radius: 20px;
                        max-height: 40px;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        p {
                            margin-left: 50px;
                            color: $grayColor;
                            padding-right: 50px;
                            white-space: nowrap;
                            @media (max-width: 992px) {
                                margin-left: 15px;
                                padding-right: 15px;
                            }
                            &:not(:last-of-type) {
                                border-right: 1px solid $grayColor;
                            }
                            span  {
                                &:not(:last-of-type) {
                                    margin-right: 25px;
                                }
                            }
                            i {
                                    margin-right: 25px;
                                }
                        }
                        .search-btn {
                            background-color: $mainGreenColor;
                            line-height: 2.73;
                            padding-right: 50px;
                            padding-left: 25px;
                            border-radius: 0px 20px 20px 0;
                            button{
                                border: none;
                                background-color: unset;
                                font-family: 'lato-reg';
                                font-size: 14px;
                                color: $whiteColor;
                            }
                        }
                    }
                }
            }
        }
        .carousel-indicators {
            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $whiteColor;
                &.active {
                    border: 3px solid $mainGreenColor;
                }
            }
        }
    }
}
/* end slider */

/* start Hot tour */
.hot-tour {
    padding: 80px 0;
    background-color: #f5f5f5;
    .section-head {
        color: $grayColor;
    }
    .card {
        @extend %shadow;
        &:hover {
            .card-body {
                @extend %trans;
                background-color: $SecondBlueColor;
                .card-title, p {
                    color: $whiteColor;                    
                }
            }
        }
        .card-body {
            padding: 25px 15px;
            background-color: $whiteColor;
            @extend %trans;
            .card-title {
                display: flex;
                justify-content: space-between;
                font-size: $subhead18;
                color: $blackColor;

                font-family: 'lato-reg';
                span {
                    &:first-of-type {
                        font-family: 'lato-black';
                    }
                }
                span {
                    &:last-of-type {
                        font-size: $largetxt24;
                    }
                }
            }
            p {
                font-size: $sub15;
                color: $grayColor;
            }
        }
    }
}
/* end Hot tour */

/* start Why US */
.why-us {
    background-image: url("../imgs/why-us-bkground.png");
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    .section-head {
        h2 {
            color: $whiteColor;
        }
        p {
            color: $whiteColor;
            max-width: 510px;
        }
    }
    .card {
        display: flex;
        flex-direction: row;
        padding-left: 15px;
        @extend %trans;
        &:hover {
            background-color: $SecondBlueColor;
            @extend %trans;
            .box-icon {
                @extend %trans;
                background-color: $whiteColor;
                color: $SecondBlueColor;
            }
            .card-body {
                @extend %trans;
                color: $whiteColor;
            }
        }
        .box-icon {
            @extend %trans;
            margin: auto;
            border-radius: 50%;
            background-color: $SecondBlueColor;
            color: $whiteColor;
            i {
                font-size: 30px;
                width: 48px;
                height: 48px;
                line-height: 48px;
            }
        }
        .card-body {
            @extend %trans;
            color: $blackColor;
            padding: 20px 13px;
            .card-title {
                font-size: $subhead18;
                font-family: 'lato-black';
                @media (min-width:768px) and (max-width: 991px) {
                    font-size: 17px;
                }
                @media (min-width:576px) and (max-width: 767px) {
                    font-size: 16px;
                }
            }
            .card-text {
                font-size: $sub15;
                font-family: 'lato-reg';
            }
        }
    }
    
    
}
/* end Why US */

/* start testamonials */
.testamonials {
    padding: 80px 0px;
    .section-head {
        color: $grayColor;
        margin-bottom: 80px;
        p {
            padding: 0 10px;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend %trans;
        &:hover {
            .card-img-top {
                @extend %trans;
                border: 5px solid $SecondBlueColor;
            }
        }
        .card-img-top {
            @extend %trans;
            width: 128px;
            height: 128px;
            border-radius: 50%;
            order: 5px solid transparent;
        }
        .card-body {
            .card-title {
                color: $blackColor;
                font-size: $subhead18;
                font-family: 'lato-black';
            }
            .card-text {
                color: $grayColor;
                font-size: $sub15;              
                font-family: 'lato-reg';
                word-break: break-all;
                padding: 0 5px;

            }
        }
    }
}
/* end testamonials */

/* start explore the distant */
.explore {        
    .explore-num {
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        
            .explore-box {
                @media (min-width: 1200px) {
                    white-space: nowrap;
                }

                i {
                    color: $mainGreenColor;
                    font-size: 70px;
                }
                h4 {
                    font-size: $headtxt36;
                    font-family: 'lato-black';
                    color: $blackColor;
                }
                p {
                    font-size: $sub15;
                    font-family: 'lato-reg';
                    color: $grayColor;
                    font-style: italic;
                }
            }
        }
    }
    
}
/* end explore the distant */

/* start fastest way */
.fastest {
    .explore-img {
        .img-details {
            left: 65px;
            @media (max-width: 768px) {
                left: 35px;
            }
            .view-all {    
                float: left;
            }
        }
    }
}
/* end fastest way */

/* start footer */
footer {
    padding: 50px 0 0px;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .first {
        p {
           font-size: 14px;
            font-family: 'lato-reg'; 
            color: $grayColor;
        }
    }
    .second {
        h5 {
            margin-top: 5px;
            font-family: 'lato-black';
            font-size: $subhead18;
            color: $blackColor;
        }
        .second-info {
            ul {
                .info {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    li {
                        font-size: $sub15;
                        color: $grayColor;
                        font-family: 'lato-reg';
                        line-height: 1.8;
                    }
                    i {
                        font-size: $sub15;
                        color: $grayColor;
                    }
                }
              
            }
        }
    }
    .follow-us {  
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center; 
        h5 {
            margin-top: 13px;
            font-family: 'lato-black';
            font-size: $subhead18;
            color: $blackColor;
        }
        .follow-info {
            width: max-content;
             span {
                i {
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    background-color: #f5f5f5;
                    margin-right: 15px;
                    text-align: center;
                    line-height: 30px;
                    color: $grayColor;
                    @extend %trans;
                    &:hover {
                        background-color: $SecondBlueColor;
                        color: $whiteColor;
                        @extend %trans;

                    }
                }
            } 
        }
        .view-all {
            @media (max-width: 786px) {
                width: 75% !important;
            }
        }
            
        
    }
    .copyright {
        p {
            color: $blackColor;
            font-size: 12px;
        }
    }
    .footer-menu {
        span {
            font-size: 12px;
            color: #28392d;
        }
    }
}
/* end footer */