/* start variables */
/* colors  */
/* font size  */
/* box shadow */
.hot-tour .card {
  -webkit-box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
  -o-box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
  -ms-box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
  box-shadow: 0px 5px 50px 5px rgba(27, 22, 19, 0.2);
}

/* hover transition */
.view-all, .view-all:hover, .slider-section .navbar .navbar-nav .nav-item .nav-link, .slider-section .navbar .navbar-nav .nav-item .nav-link:hover, .slider-section .navbar .navbar-nav .nav-item .nav-link :active, .hot-tour .card:hover .card-body, .hot-tour .card .card-body, .why-us .card, .why-us .card:hover, .why-us .card:hover .box-icon, .why-us .card:hover .card-body, .why-us .card .box-icon, .why-us .card .card-body, .testamonials .card, .testamonials .card:hover .card-img-top, .testamonials .card .card-img-top, footer .follow-us .follow-info span i, footer .follow-us .follow-info span i:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* font */
@font-face {
  font-family: "lato-reg";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato-black";
  src: url("../fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "lato-bold";
  src: url("../fonts/Lato-Bold.ttf");
}

/* device screen less than 420px */
@media (max-width: 420px) {
  .col-miny {
    max-width: 100% !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
}

html, body {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
  outline: none;
}

.card, .card-img-top {
  word-wrap: unset;
  background-clip: unset;
  border: none;
  border-radius: 0;
}

.section-head {
  font-family: 'lato-reg';
}

.section-head h2 {
  font-size: 36px;
}

.section-head p {
  font-size: 15px;
}

.view-all {
  min-height: 45px;
  background-color: #7fc142;
  padding: 0 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  border: 1px solid #ffffff;
  font-family: 'lato-black';
}

.view-all:hover {
  background-color: #ffffff;
  border: 1px solid #7fc142;
}

.view-all:hover a {
  color: #7fc142;
}

.view-all a {
  margin-top: 5px;
  color: #ffffff;
  font-size: 18px;
}

.explore-img {
  position: relative;
}

.explore-img .img-details {
  position: absolute;
  right: 65px;
  top: 75px;
  width: 80%;
}

@media (min-width: 991px) and (max-width: 1199px) {
  .explore-img .img-details {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .explore-img .img-details {
    top: 40px;
    right: 35px;
  }
}

@media (max-width: 570px) {
  .explore-img .img-details {
    top: 15px;
    right: 35px;
  }
}

.explore-img .img-details h2 {
  font-size: 60px;
  color: #ffffff;
  font-family: 'lato-reg';
}

@media (min-width: 991px) and (max-width: 1199px) {
  .explore-img .img-details h2 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .explore-img .img-details h2 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .explore-img .img-details h2 {
    font-size: 18px;
  }
}

.explore-img .img-details .view-all {
  float: right;
}

@media (max-width: 768px) {
  .explore-img .img-details .view-all a {
    font-size: 12px;
  }
}

.sticky {
  background-color: #5d5d5d !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: 1px solid gray;
}

/* start slider */
.slider-section {
  /* start nav */
  /* end nav */
}

@media (max-width: 992px) {
  .slider-section .navbar .navbar-brand img {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .slider-section .navbar .navbar-nav {
    background-color: #5d5d5d;
    text-align: right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider-section .navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 18px;
  font-family: 'lato-reg';
  border-bottom: 1px solid transparent;
}

@media (max-width: 992px) {
  .slider-section .navbar .navbar-nav .nav-item .nav-link {
    font-size: 10px;
  }
}

.slider-section .navbar .navbar-nav .nav-item .nav-link:hover, .slider-section .navbar .navbar-nav .nav-item .nav-link :active {
  border-bottom: 1px solid #7fc142;
}

.slider-section .carousel .carousel-inner .carousel-item img {
  max-height: 654px;
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption {
  bottom: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'lato-reg';
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 60px;
}

@media (max-width: 992px) {
  .slider-section .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .slider-section .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 20px;
  }
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .caption-p {
  font-size: 22px;
}

@media (max-width: 992px) {
  .slider-section .carousel .carousel-inner .carousel-item .carousel-caption .caption-p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .slider-section .carousel .carousel-inner .carousel-item .carousel-caption .caption-p {
    font-size: 15px;
  }
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 20px;
  max-height: 40px;
}

@media (max-width: 768px) {
  .slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search {
    display: none;
  }
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search p {
  margin-left: 50px;
  color: #5d5d5d;
  padding-right: 50px;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search p {
    margin-left: 15px;
    padding-right: 15px;
  }
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search p:not(:last-of-type) {
  border-right: 1px solid #5d5d5d;
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search p span:not(:last-of-type) {
  margin-right: 25px;
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search p i {
  margin-right: 25px;
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search .search-btn {
  background-color: #7fc142;
  line-height: 2.73;
  padding-right: 50px;
  padding-left: 25px;
  border-radius: 0px 20px 20px 0;
}

.slider-section .carousel .carousel-inner .carousel-item .carousel-caption .search .search-btn button {
  border: none;
  background-color: unset;
  font-family: 'lato-reg';
  font-size: 14px;
  color: #ffffff;
}

.slider-section .carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-section .carousel .carousel-indicators li.active {
  border: 3px solid #7fc142;
}

/* end slider */
/* start Hot tour */
.hot-tour {
  padding: 80px 0;
  background-color: #f5f5f5;
}

.hot-tour .section-head {
  color: #5d5d5d;
}

.hot-tour .card:hover .card-body {
  background-color: #2ec4b6;
}

.hot-tour .card:hover .card-body .card-title, .hot-tour .card:hover .card-body p {
  color: #ffffff;
}

.hot-tour .card .card-body {
  padding: 25px 15px;
  background-color: #ffffff;
}

.hot-tour .card .card-body .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: #000000;
  font-family: 'lato-reg';
}

.hot-tour .card .card-body .card-title span:first-of-type {
  font-family: 'lato-black';
}

.hot-tour .card .card-body .card-title span:last-of-type {
  font-size: 24px;
}

.hot-tour .card .card-body p {
  font-size: 15px;
  color: #5d5d5d;
}

/* end Hot tour */
/* start Why US */
.why-us {
  background-image: url("../imgs/why-us-bkground.png");
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-us .section-head h2 {
  color: #ffffff;
}

.why-us .section-head p {
  color: #ffffff;
  max-width: 510px;
}

.why-us .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 15px;
}

.why-us .card:hover {
  background-color: #2ec4b6;
}

.why-us .card:hover .box-icon {
  background-color: #ffffff;
  color: #2ec4b6;
}

.why-us .card:hover .card-body {
  color: #ffffff;
}

.why-us .card .box-icon {
  margin: auto;
  border-radius: 50%;
  background-color: #2ec4b6;
  color: #ffffff;
}

.why-us .card .box-icon i {
  font-size: 30px;
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.why-us .card .card-body {
  color: #000000;
  padding: 20px 13px;
}

.why-us .card .card-body .card-title {
  font-size: 18px;
  font-family: 'lato-black';
}

@media (min-width: 768px) and (max-width: 991px) {
  .why-us .card .card-body .card-title {
    font-size: 17px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .why-us .card .card-body .card-title {
    font-size: 16px;
  }
}

.why-us .card .card-body .card-text {
  font-size: 15px;
  font-family: 'lato-reg';
}

/* end Why US */
/* start testamonials */
.testamonials {
  padding: 80px 0px;
}

.testamonials .section-head {
  color: #5d5d5d;
  margin-bottom: 80px;
}

.testamonials .section-head p {
  padding: 0 10px;
}

.testamonials .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testamonials .card:hover .card-img-top {
  border: 5px solid #2ec4b6;
}

.testamonials .card .card-img-top {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5px solid transparent;
          order: 5px solid transparent;
}

.testamonials .card .card-body .card-title {
  color: #000000;
  font-size: 18px;
  font-family: 'lato-black';
}

.testamonials .card .card-body .card-text {
  color: #5d5d5d;
  font-size: 15px;
  font-family: 'lato-reg';
  word-break: break-all;
  padding: 0 5px;
}

/* end testamonials */
/* start explore the distant */
.explore .explore-num .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1200px) {
  .explore .explore-num .row .explore-box {
    white-space: nowrap;
  }
}

.explore .explore-num .row .explore-box i {
  color: #7fc142;
  font-size: 70px;
}

.explore .explore-num .row .explore-box h4 {
  font-size: 36px;
  font-family: 'lato-black';
  color: #000000;
}

.explore .explore-num .row .explore-box p {
  font-size: 15px;
  font-family: 'lato-reg';
  color: #5d5d5d;
  font-style: italic;
}

/* end explore the distant */
/* start fastest way */
.fastest .explore-img .img-details {
  left: 65px;
}

@media (max-width: 768px) {
  .fastest .explore-img .img-details {
    left: 35px;
  }
}

.fastest .explore-img .img-details .view-all {
  float: left;
}

/* end fastest way */
/* start footer */
footer {
  padding: 50px 0 0px;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .first p {
  font-size: 14px;
  font-family: 'lato-reg';
  color: #5d5d5d;
}

footer .second h5 {
  margin-top: 5px;
  font-family: 'lato-black';
  font-size: 18px;
  color: #000000;
}

footer .second .second-info ul .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .second .second-info ul .info li {
  font-size: 15px;
  color: #5d5d5d;
  font-family: 'lato-reg';
  line-height: 1.8;
}

footer .second .second-info ul .info i {
  font-size: 15px;
  color: #5d5d5d;
}

footer .follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .follow-us h5 {
  margin-top: 13px;
  font-family: 'lato-black';
  font-size: 18px;
  color: #000000;
}

footer .follow-us .follow-info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer .follow-us .follow-info span i {
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: #f5f5f5;
  margin-right: 15px;
  text-align: center;
  line-height: 30px;
  color: #5d5d5d;
}

footer .follow-us .follow-info span i:hover {
  background-color: #2ec4b6;
  color: #ffffff;
}

@media (max-width: 786px) {
  footer .follow-us .view-all {
    width: 75% !important;
  }
}

footer .copyright p {
  color: #000000;
  font-size: 12px;
}

footer .footer-menu span {
  font-size: 12px;
  color: #28392d;
}

/* end footer */
/*# sourceMappingURL=main.css.map */